<head>
  <style>
    .navbar-custom{
      background-color: #E3E6E3;
    }
  </style>
</head>

<nav class="navbar navbar-expand-lg navbar-light navbar-custom">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="../" style="color:rgb(102, 145, 73)">ecoswap</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="../">Home <span class="sr-only">(current)</span></a>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="../profile/{{ request.user.id }}">Hi @{{request.user}}!</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../chat">Chat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../forum">Forum</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../logout">Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="../login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../register">Register</a>
      </li>
      {% endif %}
    </ul>

    {% block searchform %}
    <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'search_listing' %}">
      <input class="form-control mr-sm-2" name="listing" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    {% endblock searchform %}
    
  </div>
</nav>

